/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/*MY CODE*/
* {
  text-decoration: none;
}

header {
  width: 100%;
  background-color: #fff;
}

header .header-brand {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

#logo {
  width: 95px;
  margin: 0 auto;
  /* align-items: center; */
  padding: 10px 0;
}

#text {
  width: 225px;
  margin: 0 auto;
  /* align-items: center; */
  padding: 10px 20px;
}

.sticky-nav {
  background-color: #fff;
  box-shadow: 0px 3px 6px #fff;
  height: 30px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
}

nav ul {
  padding-top: 10px;
  display: block;
  margin: 10px auto;
  width: fit-content;
}

nav ul li {
  display: inline-block;
  float: left;
  list-style: none;
  position: relative;
}

nav ul li ul {
  display: none;
}

nav ul li a {
  padding: 7px 16px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  color: #0B77BA;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

#down-arrow {
  display: none;
}

@media only screen and (min-width: 1000px) {
  main {
    padding-top: 78px;
    padding-bottom: 120px;
  }

  .wrapper {
    width: 80%;
    margin: 0 auto;
  }

  header {
    position: fixed;
    height: 78px;
    box-shadow: 0px 3px 6px #fff;
    z-index: 99;
  }

  header .header-brand {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    position: absolute;
  }

  .logo-header .header-brand {
    float: left;
  }

  #logo {
    width: 50px;
    padding: 10px 0 10px 40px;
    margin: 0;
    float: left;
  }

  #text {
    height: 40px;
    padding: 20px 20px;
    margin: 0;
    float: left;
  }

  .sticky-nav {
    width: 100%;
    position: fixed;
    height: 0;
    float: right;
    margin-top: 7px;
    z-index: 99;
  }

  nav ul {
    padding-right: 10%;
    margin: 22px auto;
    padding-top: 0;
    float: right;
    display: inline-block;
  }

  nav ul li {
    position: relative;
    padding: 0 25px;
  }

  nav ul li a {
    padding: 5px 5px 0;
    display: table;
    border: 1px solid #F6ED24;
    border-spacing: 5px;
  }

  nav ul li ul {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0px 0px 4px 4px;
    display: block;
    margin: 0;
    /* hover effect for website*/
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
  }

  nav ul li:hover ul {
    display: block;
    height: 115px;
    padding-top: 20px;
  }

  nav ul li ul li {
    width: 120px;
    border-radius: 4px;
  }

  nav ul li ul li a {
    padding: 10px 0;
    border: none;
  }

  nav ul li ul li:hover a {
    text-decoration: underline;
  }

  #down-arrow {
    display: block;
    width: 20px;
    margin: 6px auto;
  }
}

/* CONTACT PAGE */

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper-contact {
  width: 80%;
  margin: 0 auto;
}

.page-title {
  font-family: Garamond;
  font-size: 22px;
  font-weight: 600;
  color: #0B77BA;
  font-style: italic;
  text-align: center;
  margin-top: 100px;
}

.page-line {
  border-bottom: 1px solid #F6ED24;
  display: block;
  margin: 20px 0;
}

.contact-phrase {
  font-family: Roboto;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  color: #0B77BA;
  margin: 40px 10px 130px;
  text-align: center;
  line-height: 20px;
}

.title {
  font-family: Garamond;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #0B77BA;
  text-align: right;
}

.detail {
  font-family: Roboto;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  color: #0B77BA;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

/* CHILD GRID */
.phone-main {
  grid-area: title1;
}

.phone-sub {
  grid-area: detail1;
}

.email-main {
  grid-area: title2;
}

.email-sub {
  grid-area: detail2;
}

.location-main {
  grid-area: title3;
}

.location-sub {
  line-height: 20px;
  grid-area: detail3;
}

/* PARENT GRID */
.contact-info {
  display: grid;
  grid-gap: 80px 0px;
  grid-template-columns: auto 20px auto;
  grid-auto-rows: auto;

  grid-template-areas:
  "title1 . detail1"
  "title2 . detail2"
  "title3 . detail3";

  margin-bottom: 80px;
}

@media only screen and (min-width: 1000px) {
  .g-map{
    height: 700px;
  }

  .wrapper-contact{
      width: 40%;
  }

  .page-title {
    font-size: 34px;
    margin-top: 100px;
  }

  .page-line {
    margin: 20px 0;
  }

  .contact-phrase {
    font-size: 22px;
    margin: 100px 10px 160px;
    line-height: 34px;
  }

  .title {
    font-size: 30px;
  }

  .detail {
    font-size: 22px;
  }

  /* CHILD GRID */
  .location-sub {
    line-height: 44px;
  }

  /* PARENT GRID */
  .contact-info {
    grid-gap: 120px 40px;
    margin-bottom: 80px;
  }
}

/* CONTACT PAGE FOOTER */

footer .contact-footer {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0) 100%), url('img/contact-footer.jpg');
  background-image: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0) 100%), url('img/contact-footer.jpg');
  background-image: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0) 100%), url('img/contact-footer.jpg');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
}


@media only screen and (min-width: 1000px) {
  footer .contact-footer {
    height: 400px;
  }

}
